@page
@model Volunion3.Pages.Campanhas.TodasCampanhasModel

@{
    ViewData["Title"] = "Todas as Campanhas";
}

<h2>All Campaigns</h2>

@if (TempData["Erro"] != null)
{
    <div class="alert alert-danger">
        @TempData["Erro"]
    </div>
}

@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success">
        @TempData["Sucesso"]
    </div>
}


<!-- Formulário de Pesquisa -->
<form method="get">
    <div class="form-group">
        <label for="titulo">Title:</label>
        <input type="text" id="titulo" name="Titulo" class="form-control" value="@Model.Titulo">
    </div>
    <div class="form-group">
        <label for="dataInicio">Start Date (from):</label>
        <input type="date" id="dataInicio" name="DataInicio" class="form-control" value="@Model.DataInicio?.ToString("yyyy-MM-dd")">
    </div>
    <div class="form-group">
        <label for="local">Location:</label>
        <input type="text" id="local" name="Local" class="form-control" value="@Model.Local">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (Model.Campanhas.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Location</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Max. Volunteers</th>
                <th>Subscribers</th>
                 @if (Model.UsuarioEhVoluntario)
                 {
                  <th>
                     Actions
                  </th>
                 }  
            </tr>
        </thead>
        <tbody>
            @foreach (var campanha in Model.Campanhas)
            {
                <tr>
                    <td>@campanha.Titulo</td>
                    <td>@campanha.Descricao</td>
                    <td>@campanha.Local</td>
                    <td>@campanha.DataInicio.ToShortDateString()</td>
                    <td>@campanha.DataFim.ToShortDateString()</td>
                    <td>@campanha.NumeroMaximoVoluntarios</td>
                    <td>@(campanha.CampanhaVoluntarios?.Count ?? 0)</td>
                    <td>
                        @if (Model.UsuarioEhVoluntario)
                        {
                            <form method="post" asp-page-handler="Inscrever" asp-route-id="@campanha.Id">
                                <button type="submit" class="btn btn-primary">Subscribe</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There are currently no campaigns available.</p>
}
