@page
@model Volunion3.Pages.UserModel
@{
}

<h2 class="text-center">Welcome to Profile</h2>

<div>
    Name: @Model.appUser?.Nome
</div>
</div>
<div>
    Location: @Model.appUser?.Localizacao
</div>
</div>
<div>
    Description: @Model.appUser?.Descricao
</div>
</div>
<div>
    Email: @Model.appUser?.Email
</div>
</div>
<div>
    Phone: @Model.appUser?.PhoneNumber
</div>
</div>
<div>
    Created at: @Model.appUser?.CreatedAt.ToString("dd/MM/yyyy")
</div>
</div>