@page
@model Volunion3.Pages.UserModel
@{
}

<h2 class="text-center">Bem vindo a sua Conta</h2>

<div>
    Nome: @Model.appUser?.Nome
</div>
</div>
<div>
    Localização: @Model.appUser?.Localizacao
</div>
</div>
<div>
    Descrição: @Model.appUser?.Descricao
</div>
</div>
<div>
    Email: @Model.appUser?.Email
</div>
</div>
<div>
    Telefone: @Model.appUser?.PhoneNumber
</div>
</div>
<div>
    Criado em: @Model.appUser?.CreatedAt.ToString("dd/MM/yyyy")
</div>
</div>